# This is a basic workflow to help you get started with Actions

name: run-remote

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: [ubuntu-18.04]
    steps:
      - name: remote-bash
        uses: shinhwagk/remote-bash@0.0.1
        env:
          REMOTE_BASH_URL: https://raw.githubusercontent.com/insign/server-for-laravel/master/install.sh
